<div class="questions">
  <% if current_user.id == @question.user.id %>
    <h3>Edit Question</h3>
    <%= form_tag(question_path(@question), :method => 'post') do %>
      <div class="row cf">
        <%= hidden_field_tag "question[user_id]", current_user.id %>
        <%= label_tag :title %><br />
        <%= text_field(:question, :title) %>
        <%= label_tag :description %><br />
        <%= text_area(:question, :description) %>
        <%= submit_tag "Ask Question" %>
        <%= link_to "All Questions", questions_path, :class => "button primary" %>
      </div>
    <% end %>
  <% else %>
    <h3>You don't have access to this page</h3>
  <% end %>
</div>


