<div class="questions">
  <% @questions.each do |q| %>
    <div class="row cf">
      <h3><%= link_to q.title, question_path(q) %></h3>
      <h4>Asked by: <%= q.user.name %></h4>
      <p><%= q.description %></p>
    </div>
  <% end %>
</div>
