<div class="questions">
  <h3>Ask a Question</h3>
  <%= form_tag(new_question_path, :method => 'post') do %>
    <div class="row cf">
      <%= hidden_field_tag "question[user_id]", current_user.id %>
      <%= label_tag :title %><br />
      <%= text_field(:question, :title) %>
      <%= label_tag :description %><br />
      <%= text_area(:question, :description) %>
      <%= submit_tag "Ask Question" %>
      <%= link_to "All Questions", questions_path, :class => "button primary" %>
    </div>
  <% end %>
</div>

