<div class="questions">
  <h1><%= @question.title %></h1> 
  <h4>Asked by: <%= @question.user.name %></h4>
  <p><%= @question.description %></p>
  <% if current_user.id == @question.user.id %>
    <%= link_to "Edit Question", edit_question_path(@question), :class => "button primary" %>
  <% end %>
</div>
