<div class="devise">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :name %><br />
      <%= f.text_field :name, :autofocus => true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up", :class => "button primary" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
