<p>Hey <%= @user.name %>!</p>

<p>Don't forget about the Girls Who Code class on Friday at 3:30! </p>

<p>Check out <%= link_to "The Girls Who Code Chicago Tech Academy Website", "http://gwc-cta.herokuapp.com" %> to ask questions, view past lessons, and check out some cool resources!</p>

<p>Hope to see you there!</p>

<p>Meagan & Nhu!</p>

