<header>
  <div class="container">
    <a href="/dashboard" class="logo">Girls Who Code</a>
    <div class="session">
      <span class="user-name">
        <% if current_user %>
          Hi, <%= current_user.name %>!
        <% end %>
      </span>
      <%= link_to "Sign Out", destroy_user_session_path, method: "delete", :class => "button sign-out" %>
    </div>
  </div>
  <div class="sub-nav">
      <%= link_to "About", about_path, :class => "button nav" %>
      <%= link_to "Lessons", lessons_path, :class => "button nav" %>
      <%= link_to "Ask a Question", new_question_path, :class => "button nav" %>
      <%= link_to "Resources", resources_path, :class => "button nav" %>
      <%= link_to "Edit Profile", edit_user_registration_path, :class => "button nav" %>
  </div>
</header>
