<h3>About Girls Who Code</h3>
<section class="cf">
  <p>Girls Who Code is a national nonprofit organization working to close the gender gap in the technology in engineering sections. With support from public and private partners, Girls Who Code works to educate, inspire, and equip high school girls with the skills and resources to pursue opportunities in computing fields.</p>
  <%= link_to "More About Girls Who Code", "http://girlswhocode.com/about-us/", :target => "_blank" %>
</section>

<section class="cf">
<h3>About This Application</h3>
<p>I created this application to help communication with the Chicago Tech Academy Girls Who Code chapter. Users of this application are the girls in the class, and this application will serve as a way to foster communication within our class. Girls will receive an email notification to remind them of our class schedules. Girls can <%= link_to "ask questions", new_question_path %>, can <%= link_to "view resources", resources_path %>, and can <%= link_to "catch up on lessons", lessons_path %>.</p>
</section>
