<div class="cf row">
  <h3><%= current_user.name %>'s Dashboard</h3>
  <% if @current_lesson %>
    <p>The most recent lesson is <%= link_to @current_lesson.name, lesson_path(@current_lesson) %>
  <% end %>
  <h3>Your Recent Questions</h3>
  <% if current_user.questions %>
    <% current_user.questions.take(5).each do |q| %>
      <%= link_to q.title, question_path(q) %>
    <% end %>
  <% end %>
    <%= link_to "Do you have a question?", new_question_path %>
</div>
