<header class="intro">
  <div class="container">
    <h1>Girls Who Code</h1>
    <h2>Chicago Tech Academy</h2>
    <%= link_to "Sign In", new_user_session_path, :class => "button sign-in" %> 
    <%= link_to "Sign Up", new_user_registration_path, :class => "button sign-in" %>
  </div>
</header>
