<h3>Resources</h3>
<section class="cf">
  <h4>Learn to Code Interactively</h4>
    <%= link_to "Khan Academy", "https://www.khanacademy.org/", :target => "_blank" %></br>
    <p>Khan Academy offers free world-class education for anyone, anywhere. Courses include, science, math, economics and finance, humanities, and computer programming</p>
    <%= link_to "Code Academy", "http://codecademy.com", :target => "_blank" %><br />
    <p>Code Academy is a website where you can learn to code interactively, for free. They offer courses in learning to create interactive websites, games, and killer apps. Languages being taught currently are JavaScript, HTML/CSS, PHP, Python and Ruby.</p>
    <%= link_to "KidsRuby", "http://www.kidsruby.com/", :target => "_blank" %><br />
    <p>KidsRuby makes it fun and easy to learn how to program. You can write code, and run it, and see what it outputs all at the same time. This make it a lot easier to learn.</p>
    <%= link_to "Code.org", "http://code.org/", :target => "_blank" %><br />
    <p>Code.org is where you cna participate in the Hour of Code. After completing the Hour of Code, dive into a 20-hour course that introduces code computer science and programming concepts.</p>
    <%= link_to "Learn Street", "https://www.learnstreet.com/", :target => "_blank" %><br/>
    <p>Learn Street has over 100 interactive exercises in JavaScript, Ruby and Python. It's completely web-based, and allows newbies to quickly start learning the fundamentals of coding. There are also over 100 pratical projects, including how to modify an existing code base to get projects to run, and test your coding skills by leveling up and doing more advanced projects. Projects include games like: Connect Four, Snakes and Ladders, Bubble Sort and more!</p> 
    <%= link_to "Code Avengers", "http://www.codeavengers.com/", :target => "_blank" %><br />
    <p>Code Avengers teaches you how to build games, applications and websites! Learn HTML, CSS and Javascript with gamified code challenges and projects that make learning fun and effective. Includes step-by-step instructions, and features a Free Android application.</p>
    <%= link_to "Scratch", "http://scratch.mit.edu/", :target => "_blank" %><br />
    <p>Scratch is a fun programming language that allows users to create stories, games, and animations and share with others around the world!</p>
    <%= link_to "Mozilla Thimble", "https://thimble.webmaker.org/en-US/", :target => "_blank" %></br>
    <p>Mozilla Thimble lets you view your HTML/CSS automatically in the browser so you can start building websites with automatic feedback</p>
    <h4>Learn to Code with Games</h4>
    <%= link_to "Code Racer", "http://coderace.me/", :target => "_blank" %><br />
    <p>Code Racer is an interactive game to teach coding using your Facebook account to log in. It's a multiplayer live coding game that teaches newbies how to code a basic website using HTML and CSS, and tests intermediate and advanced users on their coding speed and agility. Players race against each other and the clock to complete coding challenges, unlocking weapons and rewards along the way.</p>
    <%= link_to "Code Combat", "http://codecombat.com/", :target => "_blank" %><br />
    <p>Code Combat is a fun way to learn JavaScript, by playing a game! Code Combat is a multiplay game that shows that programming can be a ton of fun.</p> 
    <%= link_to "JS Dares", "http://www.jsdares.com/", :target => "_blank" %><br />
    <p>JS Dares lets you make your own games by learning JavaScript programming. You learn programming by completing dares. Dares are short puzzles in which you have to copy the example, in as few lines as possible. They start simple, and become more difficult as you progress.</p>
    <%= link_to "Turtle Academy", "http://turtleacademy.com/", :target => "_blank" %><br />
    <p>The Turtle Academy makes learning to program easy. You can start creating amazing shapes using the LOGO language.</p>
</section>
