<div class="lessons">
  <h3>Edit Lesson</h3>
  <%= form_tag(lesson_path(@lesson), :method => 'post') do %>
    <div class="row cf">
      <%= label_tag :name %><br />
      <%= text_field(:lesson, :name) %>
      <%= label_tag :lesson_date %><br />
      <%= date_field(:lesson, :lesson_date) %>
      <%= label_tag :description %> (Markdown Support)<br />
      <%= text_area(:lesson, :description) %>
      <%= label_tag :resources %> (Markdown Support)<br />
      <%= text_area(:lesson, :resources) %>
      <%= submit_tag "Edit Lesson" %>
      <%= link_to "All Lessons", lessons_path, :class => "button primary" %>
      <%= link_to "Delete Lesson", destroy_lesson_path(@lesson), :method => 'delete', :class => "button primary", data: {:confirm => "Are you sure you want to delete this lesson?"} %>
      
    </div>
  <% end %>
</div>

