<div class="lessons">
  <h2>Lessons</h2>
  <% @lessons.each do |lesson| %>
    <div class="row cf">
      <h3><%= link_to lesson.name, lesson_path(lesson) %></h3>
      <h4><%= lesson.lesson_date.strftime("%b %d, %Y") %></h4>
      <p><%= GitHub::Markdown.render_gfm(lesson.description).html_safe %></p>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to "Add Lesson", new_lesson_path, :class => "button primary" %>
  <% end %>
</div>
