<div class="lessons">
  <h3>Add Lesson</h3>
  <%= form_tag(new_lesson_path, :method => 'post') do %>
    <div class="row cf">
      <%= label_tag :name %>
      <%= text_field(:lesson, :name) %>
      <%= label_tag :lesson_date %>
      <%= date_field(:lesson, :lesson_date) %><br/>
      <%= label_tag :description %> (Markdown Support)
      <%= text_area(:lesson, :description) %>
      <%= label_tag :resources %> (Markdown Support)
      <%= text_area(:lesson, :resources) %>
      <%= submit_tag "Create Lesson" %>
      <%= link_to "All Lessons", lessons_path, :class => "button primary" %>
    </div>
  <% end %>
</div>
