<div class="lessons">
  <h3><%= @lesson.name %></h3>
  <h4><%= @presenter.display_date %></h4>
  <p><%= GitHub::Markdown.render_gfm(@lesson.description).html_safe %></p>
  <p><%= GitHub::Markdown.render_gfm(@lesson.resources).html_safe %></p>

  <%= link_to "Edit Lesson", edit_lesson_path(@lesson), :class => "button primary" %>
</div>

