/* Variables ----------------------- */

$blue: #0DD8D2;
$blue-muted: #58C6C6;
$blue-light: #C6E5E4;
$red: #DC0A37;


/* Basic Styles ------------------ */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #555;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 200;
  font-size: 125%;
}

.intro-cover {
  background: $blue;
}

.container, .sub-nav {
  margin: 0 auto;
  max-width: 960px;
  padding: 2em 0;
  width: 90%;
}

header {
  background: $blue;
  &.intro {
    color: #fff;
    border-radius: 3px;
    height: 100%;
    padding: 9em 0;
    text-align: center;
  }
}


.container {
  padding: 1em 0;
}
.button {
  margin: 0;
}
.sub-nav {
  background: $blue;
  text-align: center;
  padding-bottom: 1em;
  a, a:link, a:active, a:visited {
    color: $blue;
    padding-left: 1em;
  }
}


.session {
  float: right;
}

.intro {
  h1 {
    font-family: "Lobster Two", cursive;
    font-size: 4.6em;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

.logo {
  color: #fff;
  display: block;
  float: left;
  font-size: 1.7em;
  font-weight: 700;
}

.logo:hover {
  text-decoration: none;
}

h2 {
  font-weight: 400;
  margin-bottom: 1.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 0.6em;
}

section {
  margin-bottom: 1em;
}

/* Elements
-------------------------------------------------------------- */
.row {
  border-bottom: 1px dashed #DDD;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.column {
  float: left;
  margin-right: 2%;
  &:last-of-type {
    margin-right: 0;
  }
}

.two-third {
  width: 70%;
}

.half {
  width: 49%;
}

.third {
  width: 32%;
}

.one-third {
  width: 28%;
}

.user-name {
  color: #fff;
  font-size: 1em;
  margin-right: 0.5em;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
}

p {
  margin: 0 0 1.5em 0;
}

.users {
  font-size: 1.2em;
  li {
    border-bottom: 1px dashed #ddd;
    padding: 0.5em 0;
  }
}

#flash_notice {
  color: #555;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  padding: 1em;
  background: #fff0b5;
  text-align: center;
}

.fr {
  float: right;
}

.dialog {
  display: none;
}

/* Buttons
-------------------------------------------------------------- */
a.button,
input[type="submit"],
input[type="button"]{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  -webkit-appearance: none;
  padding: 0.5em 1em;
  border: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -ms-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.primary {
  background-color: $blue;
  &:hover {
    background: $blue-muted;
    text-decoration: none;
  }
}

.secondary {
  background-color: #AAA;
  color: #fff;
  &:hover {
    background: #BBB;
    text-decoration: none;
  }
}

a.sign-in,
a.sign-out,
a.nav {
  background-color: #fff;
  color: $blue;
  &:hover {
    background: #FFF;
    text-decoration: none;
  }
}

input.remove {
  background: none;
  color: $blue;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 0 0 0 0.3em;
  &:hover {
    color: $blue-muted;
  }
}

#nag_button {
  margin-top: 1em;
}

/* Forms
-------------------------------------------------------------- */
textarea,
input[type="text"] {
  background: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  width: 100%;
  margin: 0 0 1em;
  font-size: .9em;
  line-height: 1.5em;
  -webkit-appearance: none;
  padding: .5em;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid $blue;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

select {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}

label {
  color: #777;
  display: block;
}

/* Errors
-------------------------------------------------------------- */
input.error,
.error {
  border: 2px solid #C0392F;
}

#error_box {
  display: none;
  padding:.5em;
  moz-border-radius: 2px;
  webkit-border-radius:2px;
  border-radius: 2px;
  font-size:.9em;
  color: #c0392f;
}

/* Questions
-------------------------------------------------------------- */

.questions, .lessons, .devise {
  width: 90%;
  margin: 0 auto;
  form {
    width: 80%;
    label {
      display: inline-block;
    }
    textarea {
      height: 250px;
    }
    input[type="date"] {
      display: block;
    }
  }
}




/* Clearfix
-------------------------------------------------------------- */
.container:before,
.container:after,
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.container:after,
.cf:after {
  clear: both;
}

.container,
.cf {
  *zoom: 1;
}


/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 580px) {
  header.intro {
    padding: 0;
  }

  body {
    font-size: 100%
  }

  .column {
    width: 100%;
    margin: 0;
  }

  
  input[type="button"],
  a.button {
    width: 100%;
  }

  .sign-out,
  input[type="submit"],
  input[type="button"],
  a.button{
    width: 100%;
  }

  input.remove {
    width: 32px;
  }

  .intro {
    h1 {
      font-size: 3.5em;
    }
  }

  .logo {
    font-size: 2em;
    float: none;
    text-align: center;
  }

  .session, .sub-nav {
    float: none;
    width: 100%;
    .user-name {
      display: block;
      margin-bottom: 1em;
      text-align: center;
    }
  }

  .row {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .column {
    border-bottom: 1px dashed #DDD;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .button {
    margin-bottom: 1em;
  }

  .modal {
    position: fixed;
    top: 20px !important;
    right: 20px !important;
    left: 20px !important;
    width: auto !important;
    margin: 0 !important;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
