<!DOCTYPE html>
<html>
  <head>
    <title>Girls Who Code: Chicago Tech Academy</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Lobster+Two' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/aqi4cnn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <%= render 'pages/header' %>

    <% if flash[:notice] %>
      <p id="flash_notice"><%= flash[:notice] %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
