<!DOCTYPE html>
<html class="intro-cover">
  <head>
    <meta charset="utf-8">
    <title>Girls Who Code - Chicago Tech Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Lobster+Two' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
    <script type="text/javascript" src="//use.typekit.net/aqi4cnn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <%= render 'pages/header' unless params[:action] == 'login' && params[:controller] == 'pages' %>
    <% if flash[:notice] %>
      <p id="flash_notice" class="message_errors"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>



